<div class="container-fluid mt-3">
    <h1>Public or Private</h1>
  
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="mt-4">
      <div class="mb-3">
        <label for="ipInput">IP address</label>
        <input type="text" class="form-control" id="ipInput" formControlName="ip"
          placeholder="Enter IP Address (Decimal notation)">
      </div>
      <div *ngIf="!validIp()">
        <label class="text-danger mb-3">IP address not valid</label><br>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!validIp()">Calculate</button>
    </form>

    <h3 *ngIf="response != ''" class="mt-5">Result</h3>
    <p *ngIf="response != ''">{{response}}</p>
  
  </div>
  